
    //Standard colors
    $White: #fff;
    $Grey: #CBCBCB;
    $Black: #000;

    // Colorful colors
    $Color1: #523CD6;
    $Color2: #00C2FF;
    $Color3: #5167FE;
    $Color4: #FAFF00;
    $Color5: #157C7C;

    // Lighter colors
    $Color2-light: #80E0FF;
    $Color4-light: #FCFFA8

