
    //Standard colors
    $White: #fff;
    $lightGrey: #F6F6F6;
    $Grey: #CBCBCB;
    $darkGrey: #8b8b8b;
    $Black: #000;

    // Colorful colors
    $Color1: #523CD6;
    $Color2: #00C2FF;
    $Color3: #5167FE;
    $Color4: #FAFF00;
    $Color5: #157C7C;

    // Lighter colors
    $Color2-less-light: #3bceff;
    $Color4-less-light: #f7fc6a;
    $Color2-light: #80E0FF;
    $Color4-light: #FCFFA8;
    $Color2-very-light: #DDF8FF;

