// import colors
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Landing-page{
  background: url(../src/assets/landing-image.svg);
  background-position: center;
  background-size: cover;
}