@use 'abstracts/colors';

header{
    display: flex;
    justify-content: center;
    padding: 1% 0;

    background-color: #0001;
    color: colors.$White;
    
    .header__logo{
        width: 55%;

        h1{
            background: linear-gradient(90deg, #FDFF89 0%, #5ED8FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

            width: fit-content;
            border: 3px solid colors.$White;
            padding: 0.8%;
            border-radius: 15px;
        }
    }
    nav{ 
        display: flex;
        width: 35%;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    a { 
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: colors.$White;
                        font-weight: bold;
                        font-size: 1.5rem;
                        position: relative;
                        height: 100%;

                        &:hover{
                            border-bottom: 4px solid colors.$Color2;
                        }
                    }
                }
            }
    }
}