:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark;
  background-color: #fff; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }
  button {
    background-color: #f9f9f9;
  }
}  */
